<div class="container" style="margin-top: 100px;">
  <div class="row"  *ngIf="message">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>{{message}}</strong>
          <button style="float: right;" (click)="message = null">Clear</button>
      </p>
    </div>
  </div>
  <div class="row"  *ngIf="errorMessage">
    <div class="col-xs-12">
      <p class="alert alert-danger">
          <strong>{{errorMessage}}</strong>
          <button style="float: right;" (click)="errorMessage = null">Clear</button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
          <div class="form-group">
            <div>
              <label>Task: </label>
              <input [(ngModel)]="task.name" 
                      placeholder="Task Name" 
                      required 
                      name="name" 
                      #name="ngModel"
                      class="form-control"
                      [readonly]="task.id">
            </div>
            <div>
              <label>
                Priority:
              </label>
              <mat-slider
                max="30"
                min="0"
                step="1"
                thumbLabel
                [(ngModel)]="task.priority"
                name="priority">
              </mat-slider>
            </div>
            <div>
              <label>Parent Task: </label>
              <input [(ngModel)]="task.parentTask" placeholder="Parent task" name="parentTask" class="form-control">
            </div>
            <div>
              <label>Start Date: </label>
              <mat-form-field>
                <input matInput 
                        [matDatepicker]="startDatePicker" 
                        [(ngModel)]="task.startDate" 
                        name="startDate" 
                        placeholder="Choose start date" 
                        class="form-control"
                        required>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <label>End Date: </label>
              <mat-form-field>
                <input matInput 
                        [matDatepicker]="endDatePicker" 
                        [(ngModel)]="task.endDate" 
                        name="endDate" 
                        placeholder="Choose end date" 
                        class="form-control"
                        required>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="btn-toolbar">
              <button type="submit" class="btn btn-primary" [disabled]="!taskForm.form.valid" *ngIf="!task.id">Add Task</button>
              <button class="btn btn-primary" [disabled]="!taskForm.form.valid" *ngIf="task.id">Update Task</button>
              <button type="reset" class="btn btn-secondary" *ngIf="!task.id">Reset</button>
              <button routerLink="/viewTask" class="btn btn-secondary" *ngIf="task.id">Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>